{% extends "header/header.html" %}

{% block midle_content %}
    <br>
    <div class="container" style="max-width: 520px; border: 1px solid #6c757d; background-color: #f8f9fa; border-radius: 1.2rem; overflow-y: scroll; height:80vh;">
        <br>
        <h3 class="font-italic text-center">{{title}}</h3>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if form %}
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}

            <button type="submit"><span class="glyphicon glyphicon-plus-sign"></span>{{button_name}}</button>
        </form>
        {% endif %}
        <br>
    </div>
{% endblock %}