{% extends "header/header.html" %}

{% block midle_content %}
   <br>
   <div class="container" style="max-width: 520px; border: 1px solid #6c757d; background-color: #f8f9fa; border-radius: 1.2rem;">
    <br>
   <h3 class="font-italic text-center">Add a new test</h3>
   {% if form %}
       <form method="post">
           {% csrf_token %}
           
           {{form.as_p}}
           
           <button type="submit"><span class="glyphicon glyphicon-plus-sign"></span>Add</button>
       </form>
   {% endif %}
   <br>
   </div>
{% endblock %}