{% extends "header/header.html" %}

{% block midle_content %}
  <h1>Choose a programming language</h1>
  {% if user.is_superuser or user.profile.canCreate %}
    <a href="/add_new_programming_language"><span class="glyphicon glyphicon-plus-sign"></span> Add a new programming language</a>
  {% endif %}
  <hr>
  {% for language in programming_language_list %}
    <p>
      <a href={{language.get_absolute_path}}>
      {% if language.icon %}
        <img src={{language.icon}}/>
      {% else %}
        {{language.name}}
      {% endif %}
      </a>
    </p>
  {% endfor %}
{% endblock %} 
