{% extends "header/header.html" %}

{% block midle_content %}
  <h1>{{programming_lang.name}}</h1>
  <h2>Choose a subject</h2>
  {% if user.is_superuser or user.profile.canCreate %}
    <a href="/add_new_subject/{{programming_lang.slug}}"><span class="glyphicon glyphicon-plus-sign"></span> Add a new subject</a>
  {% endif %}
  <hr>
  {% if subjects_list %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Subject name</th>
                <th>Autor</th>
                <th>Test number</th>
                {% if user.is_superuser %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects_list %}
            <tr>
                <td><a href={{subject.get_absolute_path}}>{{subject.name}}</a></td>
                <td>{{subject.author}}</td>
                <td>{{subject.test_set.all.count}}</td>
                {% if user.is_superuser %}
                  <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{subject.name}}Modal"><span class="glyphicon glyphicon-trash"></span></button>

                    <div class="modal fade" id="{{subject.name}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{subject.name}}ModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="{{subject.name}}ModalLabel">Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            You are going to delete <b>{{subject.name}}</b> subject. Press Delete to continue.
                            Note that the test and all related questions will be deleted as well.
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a href="/delete_subject/{{subject.slug}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {% endif %}
{% endblock %} 